%h1 Listing skills
%table
  %thead
    %tr
      %th Name
      %th Overcome
      %th Attack
      %th Defend
      %th Advantage
      %th
      %th
      %th
  %tbody
    - @skills.each do |skill|
      %tr
        %td= skill.name
        %td= skill.overcome
        %td= skill.attack
        %td= skill.defend
        %td= skill.advantage
        %td= link_to 'Show', skill
        %td= link_to 'Edit', edit_skill_path(skill)
        %td= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Skill', new_skill_path
