= form_for @character, html: {role: 'form'} do |f|
  - if @character.errors.any?
    #error_explanation
      %h2
        = pluralize(@character.errors.count, "error")
        prohibited this character from being saved:
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class: 'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :high_concept, class: 'control-label'
    = f.text_field :high_concept, class: 'form-control'
  .form-group
    = f.label :trouble, class: 'control-label'
    = f.text_field :trouble, class: 'form-control'
  .form-group
    = f.label :phase_one, class: 'control-label'
    = f.text_field :phase_one, class: 'form-control'
  .form-group
    = f.label :phase_two, class: 'control-label'
    = f.text_field :phase_two, class: 'form-control'
  .form-group
    = f.label :phase_three, class: 'control-label'
    = f.text_field :phase_three, class: 'form-control'
  .form-group
    = f.submit nil, class: 'btn btn-primary'
