%h1 Characters
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th High Concept
      %th Trouble
      %th Phase One
      %th Phase Two
      %th Phase Three
      %th
  %tbody
    - @characters.each do |character|
      %tr
        %td= character.name
        %td= character.description
        %td= character.high_concept
        %td= character.trouble
        %td= character.phase_one
        %td= character.phase_two
        %td= character.phase_three
        %td
          = link_to '', character, class: 'glyphicon glyphicon-eye-open', title: 'View Character'
          = link_to '', edit_character_path(character), class: 'glyphicon glyphicon-edit', title: 'Edit Character'
          = link_to '', character, class: 'glyphicon glyphicon-remove', title: 'Delete Character', method: :delete,
            data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Character', new_character_path
