%h1 Listing characters
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th High concept
      %th Trouble
      %th Phase one
      %th Phase two
      %th Phase three
      %th
      %th
      %th
  %tbody
    - @characters.each do |character|
      %tr
        %td= character.name
        %td= character.description
        %td= character.high_concept
        %td= character.trouble
        %td= character.phase_one
        %td= character.phase_two
        %td= character.phase_three
        %td= link_to '', character, class: 'glyphicon glyphicon-eye-open', title: 'View Character'
        %td= link_to '', edit_character_path(character), class: 'glyphicon glyphicon-edit', title: 'Edit Character'
        %td= link_to '', character, class: 'glyphicon glyphicon-remove', title: 'Delete Character', method: :delete,
          data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Character', new_character_path
