%p#notice= notice
.container-fluid
  %p.sheet-components
    %strong Name:
    = @character.name
  %p.sheet-components
    %strong Description:
    = @character.description
  %p.sheet-components
    %strong High Concept:
    = @character.high_concept
  %p.sheet-components
    %strong Trouble:
    = @character.trouble
  %p.sheet-components
    %strong Phase One:
    = @character.phase_one
  %p.sheet-components
    %strong Phase Two:
    = @character.phase_two
  %p.sheet-components
    %strong Phase Three:
    = @character.phase_three
.container-fluid
  - if @character.stunts.size > 0
    %table.table.table-striped.sheet-components.col-md-6
      %caption= 'Stunts'
      %thead
        %tr
          %th= 'Name'
          %th= 'Description'
          %th
      %tbody
        - @character.stunts.each do |stunt|
          %tr
            %td= stunt.name
            %td= stunt.description
            %td
              = link_to '', edit_character_stunt_path(character_id: @character.id, id: stunt.id),
                class: 'glyphicon glyphicon-edit', title: 'Edit Stunt'
              = link_to '', character_stunt_path(character_id: @character.id, id: stunt.id),
                class: 'glyphicon glyphicon-remove', title: 'Delete Skill',
                method: :delete, data: { confirm: 'Are you sure?' }
  - if @character.skill_assignments.size > 0
    %table.table.table-striped.sheet-components.col-md-6
      %caption= 'Skills'
      %thead
        %tr
          %th= 'Skill'
          %th= 'Value'
      %tbody
      - @character.skill_assignments.sort_by{|s|-1 * s.level.to_i}.each do |skill|
        %tr
          %td= skill_assignment(skill.skill_id).name
          %td= skill.level
          %td
            = link_to '', edit_character_skill_assignment_path(character_id: @character.id, id: skill.id),
              class: 'glyphicon glyphicon-edit', title: 'Edit Skill Value'
            = link_to '', character_skill_assignment_path(character_id: @character.id, id: skill.id),
              class: 'glyphicon glyphicon-remove', title: 'Delete Skill',
              method: :delete, data: { confirm: 'Are you sure?' }
.container-fluid
  = form_for [@character, Stunt.new] do |f|
    %fieldset.sheet-components.col-md-6
      %legend= 'New Stunt'
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :description
        %br/
        = f.text_area :description, size: "50x4"
      .actions
        = f.submit 'Add Stunt', class: 'btn btn-primary'
  = form_for [@character, SkillAssignment.new] do |f|
    %fieldset.sheet-components.col-md-6
      %legend= 'New Skill'
      .field
        = f.label :skill_id, 'Skill'
        %br/
        = select('skill_assignment', 'skill_id', Skill.all.collect {|p| [ p.name, p.id ] }, {include_blank: true})
      .field
        = f.label :level
        %br/
        = f.number_field :level, {size: 2, maxlength: 2, min: 0, max: 10}
      .actions
        = f.submit 'Add Skill', class: 'btn btn-primary'

= link_to 'Edit', edit_character_path(@character)
|
= link_to 'Back', characters_path
|
= link_to 'Export To PDF', character_path(@character, format: :pdf), target: '_blank'