%p#notice= notice
.container-fluid
  %p.sheet-components
    %strong Name:
    = @character.name
  %p.sheet-components
    %strong Description:
    = @character.description
  %p.sheet-components
    %strong High Concept:
    = @character.high_concept
  %p.sheet-components
    %strong Trouble:
    = @character.trouble
  %p.sheet-components
    %strong Phase One:
    = @character.phase_one
  %p.sheet-components
    %strong Phase Two:
    = @character.phase_two
  %p.sheet-components
    %strong Phase Three:
    = @character.phase_three
.container-fluid
  - if @character.stunts.size > 0
    = render 'stunts'
  - if @character.skill_assignments.size > 0
    = render 'skills'
.container-fluid
  - if @character.extra_assignments.size > 0
    = render 'extras'
.container-fluid
  = form_for [@character, Stunt.new] do |f|
    %fieldset.sheet-components.col-md-6
      %legend= 'New Stunt'
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :description
        %br/
        = f.text_area :description, size: "50x4"
      .actions
        = f.submit 'Add Stunt', class: 'btn btn-primary'
  = form_for [@character, SkillAssignment.new] do |f|
    %fieldset.sheet-components.col-md-6
      %legend= 'New Skill'
      .field
        = f.label :skill_id, 'Skill'
        %br/
        = select('skill_assignment', 'skill_id', Skill.all.collect {|p| [ p.name, p.id ] }, {include_blank: true})
      .field
        = f.label :level
        %br/
        = f.number_field :level, {size: 2, maxlength: 2, min: 0, max: 10}
      .actions
        = f.submit 'Add Skill', class: 'btn btn-primary'
  = form_for [@character, ExtraAssignment.new] do |f|
    %fieldset.sheet-components.col-md-6
      %legend= 'New Extra'
      .field
        = f.label :extra_id, 'Extra'
        %br/
        = select('extra_assignment', 'extra_id', Extra.all.collect {|p| [ p.name, p.id ] }, {include_blank: true})
      .actions
        = f.submit 'Add Extra', class: 'btn btn-primary'

= link_to 'Edit', edit_character_path(@character)
|
= link_to 'Back', characters_path
|
= link_to 'Export To PDF', character_path(@character, format: :pdf), target: '_blank'