= form_for(@skill_assignment, url: character_skill_assignment_path) do |f|
  - if @skill_assignment.errors.any?
    #error_explanation
      %h2
        = pluralize(@skill_assignment.errors.count, "error")
        prohibited this skill_assignment from being saved:
      %ul
        - @skill_assignment.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-bordered
    - binding.pry
    %caption= 'Skills'
    %thead
      %tr
        %th= 'Skill'
        %th= 'Value'
    %tbody
      %tr
        %td= skill_assignment(@skill_assignment.skill_id).name
        %td
          = f.text_field :level, value: @skill_assignment.level
  .actions
    = f.submit
