= form_for(@skill_assignment, url: character_skill_assignments_path(@character), method: :post) do |f|
  - if @skill_assignment.errors.any?
    #error_explanation
      %h2
        = pluralize(@skill_assignment.errors.count, "error")
        prohibited this skill_assignment from being saved:
      %ul
        - @skill_assignment.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-bordered
    %caption= 'Skills'
    %thead
      %tr
        %th= 'Skill'
        %th= 'Value'
    %tbody
      %tr
        %td= skill_assignment(@skill_assignment.skill_id).name
        %td
          %input{value: @skill_assignment.level}
  .actions
    = f.submit
